{% extends 'base.html' %}

{% block main %}

<div class="hero-wrap hero-bread" style="background-image: url('/static/images/bg_1.jpg');">
  <div class="container">
    <div class="row no-gutters slider-text align-items-center justify-content-center">
      <div class="col-md-9 ftco-animate text-center">
        <p class="breadcrumbs"><span class="mr-2"><a href="{% url  'index' %}">Home</a></span> <span>Products</span></p>
        <h1 class="mb-0 bread">Products</h1>
      </div>
    </div>
  </div>
</div>

<section class="ftco-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-10 mb-5 text-center">
        <ul class="product-category">

          <li><a href="{% url 'filter_product' %}" class="active">All</a></li>
          {%for c in category%}
          <li><a href="{% url 'filter_product' %}?cid={{c.id}}">{{c.name}}</a></li>
          {%endfor%}
        </ul>
        <form action="{% url 'shop' %}" method="get">
          <input type="text" name="search" placeholder="serach product here...">
          <button type="submit">search</button>
        </form>
      </div>
    </div>


    <div class="row">
      {% for pro in productes %}
      <div class="col-md-4 col-lg-3 mb-4">
        <div class="product">
          <a href="#" class="img-prod">
            <img class="img-fluid" src="{{ pro.image.url }}" alt="{{ pro.name }}">
            <span class="status">30%</span>
            <div class="overlay"></div>
          </a>

          <div class="text py-3 pb-4 px-3 text-center">
            <h3><a href="#">{{ pro.name }}</a></h3>

            <div class="pricing">
              <span>{{pro.quntity}} {{pro.unit}}</span>
              <p class="price">
                <span class="price-sale">₹{{ pro.price }}</span>
              </p>
            </div>
            {% if pro.stock > 0%}
            <span class="text-success">IN Stock</span>
            {% else %}
            <span class="text.danger">Out of Stock</span>
            {%endif%}

            <div class="bottom-area d-flex px-3">
              <div class="m-auto d-flex">
                <a href="{%url 'product_single' %}?pid={{ pro.id }}" class="add-to-cart">
                  <span><i class="ion-ios-menu"></i></span>
                </a>
                <a href="{%url 'add_to_cart' %}?pid={{pro.id}}" class="buy-now mx-1">
                  <span><i class="ion-ios-cart"></i></span>
                </a>
                <a href="{%url 'add_to_wishlist'%}?pid={{pro.id}}" class="heart">
                  <span><i class="ion-ios-heart"></i></span>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>

    <section class="text-center mt-5">

      <ul class="pagination justify-content-center">
        {% if productes.has_previous%}
        <li class="page-item">
          <a class="page-link" href="?page={{ productes.previous_page_number }}">
            Previous
          </a>
        </li>
        {%endif%}

        <li class="page-item active">
          <span class="page-link">
            Page {{ productes.number }} of {{ productes.paginator.num_pages }}
          </span>
        </li>

        {% if productes.has_next%}
        <li class="page-item">
          <a class="page-link" href="?page={{ productes.next_page_number }}">
            Next
          </a>
        </li>
        {%endif%}
      </ul>
    </section>
  </div>
  </div>
</section>

<section class="ftco-section ftco-no-pt ftco-no-pb py-5 bg-light">
  <div class="container py-4">
    <div class="row d-flex justify-content-center py-5">
      <div class="col-md-6">
        <h2 style="font-size: 22px;" class="mb-0">Subcribe to our Newsletter</h2>
        <span>Get e-mail updates about our latest shops and special offers</span>
      </div>
      <div class="col-md-6 d-flex align-items-center">
        <form action="#" class="subscribe-form">
          <div class="form-group d-flex">
            <input type="text" class="form-control" placeholder="Enter email address">
            <input type="submit" value="Subscribe" class="submit px-3">
          </div>
        </form>
      </div>
    </div>
  </div>
</section>

{%endblock%}